HOST=0.0.0.0
PORT=8787
HEARTBEAT_TIMEOUT_SECONDS=35
TICKET_TTL_SECONDS=120
WS_PATH=/control
RELAY_BIND_HOST=0.0.0.0
RELAY_PUBLIC_HOST=
RELAY_PORT_START=39000
RELAY_PORT_END=39063
RELAY_HOST_IDLE_SECONDS=20
RELAY_CLIENT_IDLE_SECONDS=90
RELAY_PORT_COOLDOWN_SECONDS=0
ROOM_TOMBSTONE_SECONDS=0
IGNORE_VERSION_MISMATCH=0
FORCE_RELAY_ONLY=0
